body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #c8c8c8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2e3144;
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-header {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

nav button {
    background-color: #668dc0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #98a9c0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.container h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
    position: relative;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-edit{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: #ffffff97;
}

.btn-profile{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: #ffffff97;
}

.btn-resume{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: #ffffff97;
}

.card-header .icons {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.card-header .icons i {
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #ffffff00;
    border-radius: 5px;
}

.card-header .icons i:hover {
    color: #ffffff;
}

.card-body {
    padding: 15px;
    text-align: left;
}

.card-body h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.github-link {
    background-color: #3a6092;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #6082af;
}

.github-link i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .container-header {
        flex-direction: column;
        text-align: center;
    }

    nav button {
        margin-top: 10px;
    }
}


